<div class="workout-app">
  <div class="fluid-container">
    <h1>{{title}}</h1>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><a routerLink="/dashboard" routerLinkActive="active">View All</a></li>
        <li><a routerLink="/workout" routerLinkActive="active">Create</a></li>
        <li><a routerLink="/category" routerLinkActive="active">Category</a></li>
        <li><a routerLink="/track" routerLinkActive="active">Track</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>  
</div>